{% extends "auctions/layout.html" %}

{% block body %}
{% load humanize %}
    <h2>{{ listing.title }}</h2>
    {% if user.is_authenticated %}
        {% if listing.status == 'active' %}
            {% if user.username == listing.creator.username %}
                <a href="{% url 'close_listing' listing.id %}">Close listing</a>
            {% else %}
                <a href="{% url 'add_to_watchlist' listing.id %}">Add to watchlist</a>
            {% endif %}
        {% else %}
            {% if listing.winner.first.user == user %}
                You won this item
            {% endif %}
        {% endif %}
    {% endif %}
    <br>
    Status: {{ listing.status }}
    <br>
    Seller: {{ listing.creator }}
    <br>
    Category: {{ listing.category }}
    <br>
    Starting price: ${{ listing.starting_bid|intcomma }}
    <br>
    Current bid: ${{ listing.current_price|intcomma }}
    <br>
    {% if user.is_authenticated %}
        {% if user.username != listing.creator.username %}
            {% if listing.status == 'active' %}
                <form action="{% url 'bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="bid" required>
                    <input class="btn btn-primary" type="submit" value="Bid">
                </form>
            {% endif %}
        {% else %}
            You can't bid on your own listing.
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}">Log in to place a bid</a>
    {% endif %}
    <br>
    {{ listing.description }}
    <br>
    {% if listing.image %}
        <img src="{{ listing.image }}" style="max-width:100%;">
    {% endif %}
    <br>
    Posted on: {{ listing.time }}
    <hr>
    <form action="{% url 'listing_page' listing.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="comment" placeholder="Add a comment">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
    {% for comment in comments %}
        <p>{{ comment.op }}:<br>
            "{{ comment.comment }}"<br>
            on {{ comment.time }}
        </p>
    {% endfor %}
{% endblock %}